{
  "openapi": "3.0.2",
  "info": {
    "title": "Netatmo - Energy",
    "description": "NETATMO's APIs for Energy OAS3",
    "termsOfService": "https://dev.netatmo.com/legal/",
    "contact": {
      "name": "Contact API Netatmo",
      "url": "https://dev.netatmo.com/legal/",
      "email": "contact-api@netatmo.com"
    },
    "license": {
      "name": "Netatmo Legal",
      "url": "https://dev.netatmo.com/legal/"
    },
    "version": "1.1.2"
  },
  "externalDocs": {
    "description": "Find out more about Netatmo API",
    "url": "https://dev.netatmo.com"
  },
  "servers": [
    {
      "url": "https://api.netatmo.com/api",
      "description": "Netatmo's API endpoint"
    }
  ],
  "paths": {
    "/homesdata": {
      "get": {
        "tags": [
          "Energy"
        ],
        "summary": "Retrieve user's homes and topology",
        "description": "This endpoint permits to retrieve the actual topology and static information of all devices present into a user account. <br>It is possible to specify a <i>home_id</i> to focus on one home or to specify a <i>gateway_type</i> to focus on one type of gateway.<br><br><br><b> Scope to use:</b> <br> read_thermostat",
        "operationId": "homesdata",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Filter by Home ID",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b23"
            }
          },
          {
            "name": "gateway_types",
            "in": "query",
            "description": "Filter by Gateway Types {NAPlug, OTH, BNS}",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NAPlug",
                  "OTH",
                  "BNS"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "homes": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Home"
                              }
                            },
                            "user": {
                              "$ref": "#/components/schemas/User"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "read_thermostat"
            ]
          }
        ]
      }
    },
    "/homestatus": {
      "get": {
        "tags": [
          "Energy"
        ],
        "summary": "Get the current status of a home and the associated devices",
        "description": "This endpoint permits to retrieve the actual status of all devices present into a specific home.<br>It is possible to specify a list of gateways using <i>device_types</i> to filter the returned devices.<br><br><b> Scope to use:</b> <br> read_thermostat",
        "operationId": "homestatus",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b23"
            }
          },
          {
            "name": "device_types",
            "in": "query",
            "description": "Filter by Gateway Types {NAPlug, OTH, BNS}",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NAPlug",
                  "OTH",
                  "BNS"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "home": {
                              "$ref": "#/components/schemas/HomeStatus"
                            },
                            "errors": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/SyncError"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "read_thermostat"
            ]
          }
        ]
      }
    },
    "/getroommeasure": {
      "get": {
        "tags": [
          "Energy"
        ],
        "summary": "Retrieve data history of a room (eg to display graphs)",
        "description": "This endpoint permits to retrieve the history of data associated to a room.<br><br><b> Scope to use:</b> <br> read_thermostat",
        "operationId": "getroommeasure",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b23"
            }
          },
          {
            "name": "room_id",
            "in": "query",
            "description": "Room ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": 2016185224
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "Timeframe between two measurements {30min, 1hour, 3hours, 1day, 1week, 1month}",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "30min",
              "enum": [
                "30min",
                "1hour",
                "3hours",
                "1day",
                "1week",
                "1month"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of data to be returned {temperature, sp_temperature, min_temp, max_temp, date_min_temp, date_max_temp}<br>date_min_temp & date_max_temp are only available for large scales ({1day, 1week, 1month}).",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "temperature",
                  "sp_temperature",
                  "min_temp",
                  "max_temp",
                  "date_min_temp",
                  "date_max_temp"
                ]
              }
            }
          },
          {
            "name": "date_begin",
            "in": "query",
            "description": "Timestamp of the first measure to retrieve (Local Unix Time in seconds).<br> By default, it will retrieve the oldest data available.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1459265427
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Timestamp of the last measure to retrieve (Local Unix Time in seconds)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1459265427
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of measurements (default and max are 1024)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1024
            }
          },
          {
            "name": "optimize",
            "in": "query",
            "description": "Optimized format of the answer. Default is true.<br> For mobile apps we recommend True to save bandwidth. If bandwidth isn't an issue, we recommend False as it is easier to parse.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "real_time",
            "in": "query",
            "description": "To get real timestamp. Default is false.<br>If scale different than max, timestamps are by default offset + scale/2.<br> To get exact timestamps, use true.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "home": {
                              "$ref": "#/components/schemas/Roommeasure"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "read_thermostat"
            ]
          }
        ]
      }
    },
    "/setroomthermpoint": {
      "post": {
        "tags": [
          "Energy"
        ],
        "summary": "Control the heating of a room",
        "description": "This endpoint permits to control the heating of a specific room. A room can be set in 3 differents modes:<ul><li> \"manual\" mode in which setpoints can be applied for a specific duration (use endtime)</li><li> \"max\" mode which will put the setpoint at max (30°) for a given duration (default is xx and can be changed by the user in its settings)</li><li>\"home\" mode which basically makes the room following the Home mode.</li></ul> <br><b> Scope to use:</b> <br> write_thermostat",
        "operationId": "setroomthermpoint",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b23"
            }
          },
          {
            "name": "room_id",
            "in": "query",
            "description": "Room ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": 2016185224
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "The mode you are applying to this room {manual, max, home}",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": null,
              "enum": [
                "manual",
                "max",
                "home"
              ]
            }
          },
          {
            "name": "temp",
            "in": "query",
            "description": "Manual temperature to apply. Required if mode is manual.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 21
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "End time of the schedule mode set (Local Unix Time in seconds).",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": 1554715909
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write_thermostat"
            ]
          }
        ]
      }
    },
    "/setthermmode": {
      "post": {
        "tags": [
          "Energy"
        ],
        "summary": "Control the home heating system",
        "description": "This endpoint permits to control the heating of a specific home. A home can be set in 3 differents modes:<ul><li> \"schedule\" mode in which the home will follow the user schedule</li><li> \"away\" mode which will put the whole house to away (default is 12° but can be changed by the user in its settings)</li><li>\"hg\" corresponds to frostguard mode (7° by default)</li></ul> <br><b> Scope to use:</b> <br> write_thermostat",
        "operationId": "setthermmode",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b23"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Set the home heating system to use {schedule, away, hg}",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": null,
              "enum": [
                "schedule",
                "away",
                "hg"
              ]
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Enddate of the therm mode (Local Unix Time in seconds). It's settable only for \"hg\" and \"away\" mode",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": 1554715909
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write_thermostat"
            ]
          }
        ]
      }
    },
    "/getmeasure": {
      "get": {
        "tags": [
          "Energy"
        ],
        "summary": "Retrieve boiler historical data",
        "description": "This endpoint permits to retrieve the history of the boiler data.<br><br><b> Scope to use:</b> <br> read_thermostat",
        "operationId": "getmeasure",
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "description": "Gateway Mac Address",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "70:ee:xx:xx:xx:xx"
            }
          },
          {
            "name": "module_id",
            "in": "query",
            "description": "Module Mac Adress",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "04:00:xx:xx:xx:xx"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "Timeframe between two measurements {30min, 1hour, 3hours, 1day, 1week, 1month}",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "30min",
              "enum": [
                "30min",
                "1hour",
                "3hours",
                "1day",
                "1week",
                "1month"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of data to be returned {boileron, boileroff, sum_boiler_on, sum_boiler_off}<br>Boileron/off is only available for scales from 30 to 3hours and sums of boiler on/off for scales from 1day to 1month.<br><ul><li>boileron = Average number of minutes the boiler is active per hour</li><li>boileroff = Average number of minutes the boiler is inactive per hour</li><li>sum_boiler_on = Sum of minutes the boiler is active during the <i>scale</i> time period</li><li>sum_boiler_off = Sum of minutes the boiler is inactive during the <i>scale</i> time period</li></ul>",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "boileron",
                  "boileroff",
                  "sum_boiler_on",
                  "sum_boiler_off"
                ]
              }
            }
          },
          {
            "name": "date_begin",
            "in": "query",
            "description": "Timestamp of the first measure to retrieve (Local Unix Time in seconds).<br> By default, it will retrieve the oldest data available.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1459265427
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Timestamp of the last measure to retrieve (Local Unix Time in seconds)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 2459265427
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of measurements (default and max are 1024)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1024
            }
          },
          {
            "name": "optimize",
            "in": "query",
            "description": "Optimized format of the answer. Default is true.<br> For mobile apps we recommend True to save bandwidth. If bandwidth isn't an issue, we recommend False as it is easier to parse.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "real_time",
            "in": "query",
            "description": "If scale different than max, timestamps are by default offset + scale/2. To get exact timestamps, use true. Default is false.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/body_Measure_Get"
                    },
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "read_thermostat"
            ]
          }
        ]
      }
    },
    "/createnewhomeschedule": {
      "post": {
        "tags": [
          "Energy"
        ],
        "summary": "Create a thermostat weekly schedule.",
        "description": "This endpoint permits to create a new thermostat schedule of a home. <br>Important notes:<ul><li> A schedule must contain all the rooms of a Home where a heating module is installed</li><li>Zones Confort (=0), Night (=1) & Eco (=4) are mandatory</li></ul><br><br><b> Scope to use:</b> <br> write_thermostat",
        "operationId": "createnewhomeschedule",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "59xxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the schedule",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "Holidays"
            }
          },
          {
            "name": "hg_temp",
            "in": "query",
            "description": "Frost guard temperature value",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 8
            }
          },
          {
            "name": "away_temp",
            "in": "query",
            "description": "Away temperature value",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 15
            }
          },
          {
            "name": "zones",
            "in": "query",
            "description": "Array of zones. Zones describe the heating behavior in each room. More info on the format of a zone <a href=\"https://dev.netatmo.com/apidocumentation/energy#scheduling\">here</a>.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/HeatingZone"
              },
              "example": [
                {
                  "name": "Eco",
                  "type": 5,
                  "id": 4,
                  "rooms": [
                    {
                      "id": "1383xxxxxx",
                      "therm_setpoint_temperature": 19
                    },
                    {
                      "id": "2453xxxxxx",
                      "therm_setpoint_temperature": 19
                    }
                  ]
                },
                {
                  "name": "Night",
                  "type": 1,
                  "id": 1,
                  "rooms": [
                    {
                      "id": "1383xxxxxx",
                      "therm_setpoint_temperature": 18
                    },
                    {
                      "id": "2453xxxxxx",
                      "therm_setpoint_temperature": 18
                    }
                  ]
                },
                {
                  "name": "Confort",
                  "type": 0,
                  "id": 0,
                  "rooms": [
                    {
                      "id": "1383xxxxxx",
                      "therm_setpoint_temperature": 21
                    },
                    {
                      "id": "2453xxxxxx",
                      "therm_setpoint_temperature": 20
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "timetable",
            "in": "query",
            "description": "Array of timetables. Timetables apply a zone for a specific duration. More info on the format of a timetable <a href=\"https://dev.netatmo.com/apidocumentation/energy#scheduling\">here</a>.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Timetable"
              }
            },
            "example": [
              {
                "zone_id": 1,
                "m_offset": 0
              },
              {
                "zone_id": 0,
                "m_offset": 360
              },
              {
                "zone_id": 4,
                "m_offset": 600
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write_thermostat"
            ]
          }
        ]
      }
    },
    "/synchomeschedule": {
      "post": {
        "tags": [
          "Energy"
        ],
        "summary": "Modify a thermostat weekly schedule.",
        "description": "This endpoint permits to edit a thermostat schedule of a home. <br>Important notes:<ul><li> A schedule must contain all the rooms of a Home</li><li>Zones Confort (=0), Night (=1) & Eco (=4) are mandatory</li><li>To edit a particular schedule, you need to enter the schedule_id, if you don't specify one, the modification will be applied to the current schedule</li></ul><br><br><b> Scope to use:</b> <br> write_thermostat",
        "operationId": "synchomeschedule",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "59xxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "schedule_id",
            "in": "query",
            "description": "Id of the schedule. If not specified, it modifies the active schedule.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5axxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the schedule",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "Holidays"
            }
          },
          {
            "name": "zones",
            "in": "query",
            "description": "Array of zones. Zones describe the heating behavior in each room. More info on the format of a zone <a href=\"https://dev.netatmo.com/apidocumentation/energy#scheduling\">here</a>.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/HeatingZone"
              },
              "example": [
                {
                  "name": "Eco",
                  "type": 5,
                  "id": 4,
                  "rooms": [
                    {
                      "id": "1383xxxxxx",
                      "therm_setpoint_temperature": 19
                    },
                    {
                      "id": "2453xxxxxx",
                      "therm_setpoint_temperature": 19
                    }
                  ]
                },
                {
                  "name": "Night",
                  "type": 1,
                  "id": 1,
                  "rooms": [
                    {
                      "id": "1383xxxxxx",
                      "therm_setpoint_temperature": 18
                    },
                    {
                      "id": "2453xxxxxx",
                      "therm_setpoint_temperature": 18
                    }
                  ]
                },
                {
                  "name": "Confort",
                  "type": 0,
                  "id": 0,
                  "rooms": [
                    {
                      "id": "1383xxxxxx",
                      "therm_setpoint_temperature": 21
                    },
                    {
                      "id": "2453xxxxxx",
                      "therm_setpoint_temperature": 20
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "timetable",
            "in": "query",
            "description": "Array of timetables. Timetables apply a zone for a specific duration. More info on the format of a timetable <a href=\"https://dev.netatmo.com/apidocumentation/energy#scheduling\">here</a>.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Timetable"
              },
              "example": [
                {
                  "zone_id": 1,
                  "m_offset": 0
                },
                {
                  "zone_id": 0,
                  "m_offset": 360
                },
                {
                  "zone_id": 4,
                  "m_offset": 600
                }
              ]
            }
          },
          {
            "name": "hg_temp",
            "in": "query",
            "description": "Frost guard temperature value",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 8
            }
          },
          {
            "name": "away_temp",
            "in": "query",
            "description": "Away temperature value",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write_thermostat"
            ]
          }
        ]
      }
    },
    "/switchhomeschedule": {
      "post": {
        "tags": [
          "Energy"
        ],
        "summary": "Apply a specific schedule",
        "description": "This endpoint permits to apply a specific schedule to a home<br><br><b> Scope to use:</b> <br> write_thermostat",
        "operationId": "switchhomeschedule",
        "parameters": [
          {
            "name": "home_id",
            "in": "query",
            "description": "Home ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b24"
            }
          },
          {
            "name": "schedule_id",
            "in": "query",
            "description": "Id of the schedule to switch on",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "5954e7f249c75f97428b7b23"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          },
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "write_thermostat"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "body_Measure_Get": {
        "type": "object",
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/Measure_Get"
            }
          }
        }
      },
      "Measure_Get": {
        "type": "object",
        "properties": {
          "beg_time": {
            "type": "number",
            "example": 1513295900
          },
          "step_time": {
            "type": "number",
            "example": 1800
          },
          "value": {
            "type": "array",
            "items": {
              "type": "number",
              "example": 50
            }
          }
        }
      },
      "Roommeasure": {
        "type": "object",
        "properties": {
          "beg_time": {
            "type": "number",
            "format": "int64",
            "example": 1513259100
          },
          "step_time": {
            "type": "number",
            "format": "int64",
            "example": 1800
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomTempValues"
            }
          }
        }
      },
      "RoomTempValues": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "example": 17
          }
        }
      },
      "HomeStatus": {
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 24,
            "type": "string",
            "example": "5954e7f249c75f97428b7b23"
          },
          "modules": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/NAPlug_S"
                },
                {
                  "$ref": "#/components/schemas/NRV_S"
                },
                {
                  "$ref": "#/components/schemas/NATherm1_S"
                },
                {
                  "$ref": "#/components/schemas/OTH_S"
                },
                {
                  "$ref": "#/components/schemas/OTM_S"
                }
              ]
            }
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomS"
            }
          }
        }
      },
      "RoomS": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 3466299980,
            "description": "id of the room"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "false if none of the module of the room are reachable"
          },
          "heating_power_request": {
            "type": "integer",
            "example": 50,
            "description": "Represents the percentage of heating the valve of a room are asking for"
          },
          "therm_measured_temperature": {
            "type": "number",
            "example": 23,
            "description": "measured temperature"
          },
          "therm_setpoint_temperature": {
            "type": "number",
            "example": 20,
            "description": "setpoint temperature"
          },
          "therm_setpoint_mode": {
            "type": "string",
            "example": "schedule, manual",
            "description": "mode (can be manual, max, off, schedule, away or hg)"
          },
          "therm_setpoint_start_time": {
            "type": "number",
            "example": "0, 1550000000",
            "description": "start time for a manual setpoint"
          },
          "therm_setpoint_end_time": {
            "type": "number",
            "example": "0, 1550003600",
            "description": "end time for a manual setpoint"
          },
          "anticipating": {
            "type": "boolean",
            "example": true
          },
          "open_windows": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "NAPlug_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAPlug",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "wifi_strenght": {
            "type": "number",
            "example": 67,
            "description": "56 good, 86 poor"
          }
        }
      },
      "OTH_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "dhw_control": {
            "type": "string",
            "example": "OTH",
            "description": "type of the module",
            "enum": [
              "none",
              "instantaneous",
              "water_tank"
            ]
          },
          "boiler_control": {
            "type": "string",
            "example": "OTH",
            "description": "how the product is able to communicate with the boiler",
            "enum": [
              "onoff",
              "opentherm",
              "detecting"
            ]
          },
          "boiler_error": {
            "type": "string",
            "description": "boiler error for opentherm protocol",
            "enum": [
              "boiler_not_responding",
              "maintenance",
              "water_pressure",
              "boiler_flame",
              "air_pressure",
              "boiler_temperature"
            ]
          },
          "type": {
            "type": "string",
            "example": "OTH",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "wifi_strenght": {
            "type": "number",
            "example": 67,
            "description": "56 good, 86 poor"
          }
        }
      },
      "NATherm1_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "reachable": {
            "type": "boolean",
            "example": true
          },
          "type": {
            "type": "string",
            "example": "NATherm1",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "rf_strenght": {
            "type": "number",
            "example": 61,
            "description": "90 = low, 80 = medium, 70 = high, 60 = full signal"
          },
          "boiler_valve_comfort_boost": {
            "type": "boolean",
            "example": false,
            "description": "whether or not a valve is asking for a boost"
          },
          "boiler_status": {
            "type": "boolean",
            "example": true,
            "description": "whether the boiler is ON or OFF"
          },
          "anticipating": {
            "type": "boolean",
            "example": false,
            "description": "whether a device is currently anticipating or not"
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0"
          },
          "battery_state": {
            "type": "string",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          }
        }
      },
      "OTM_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "reachable": {
            "type": "boolean",
            "example": true
          },
          "type": {
            "type": "string",
            "example": "OTM",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "rf_strenght": {
            "type": "number",
            "example": 61,
            "description": "90 = low, 80 = medium, 70 = high, 60 = full signal"
          },
          "boiler_valve_comfort_boost": {
            "type": "boolean",
            "example": false,
            "description": "whether or not a valve is asking for a boost"
          },
          "boiler_status": {
            "type": "boolean",
            "example": true,
            "description": "whether the boiler is ON or OFF"
          },
          "anticipating": {
            "type": "boolean",
            "example": false
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0"
          },
          "battery_state": {
            "type": "string",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          }
        }
      },
      "NRV_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "50:0c:04:fc",
            "description": "id of the module"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "true if the module can communicate with the relay"
          },
          "type": {
            "type": "string",
            "example": "NRV",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "version of the firmware"
          },
          "rf_strenght": {
            "type": "number",
            "example": 13,
            "description": "90 = low, 80 = medium, 70 = high, 60 = full signal"
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0"
          },
          "battery_state": {
            "type": "string",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high"
            ]
          }
        }
      },
      "Home": {
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 24,
            "type": "string",
            "example": "5954e7f249c75f97428b7b23",
            "description": "id of the home"
          },
          "name": {
            "type": "string",
            "example": "Your House",
            "description": "name of the home"
          },
          "altitude": {
            "type": "integer",
            "example": 89
          },
          "coordinates": {
            "maxItems": 2,
            "type": "array",
            "items": {
              "type": "string",
              "example": "-0.12726409999999996, 51.51608619999999"
            }
          },
          "country": {
            "type": "string",
            "example": "FR"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/paris",
            "description": "home timezone"
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomD"
            }
          },
          "modules": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/NAPlug"
                },
                {
                  "$ref": "#/components/schemas/NATherm1"
                },
                {
                  "$ref": "#/components/schemas/NRV"
                }
              ]
            }
          },
          "therm_set_point_default_duration": {
            "type": "integer",
            "example": 180,
            "description": "default duration for a setpoint"
          },
          "therm_boost_default_duration": {
            "type": "integer",
            "example": 180,
            "description": "default duration for a boost"
          },
          "schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HomeHeatingSchedule"
            },
            "description": "array of heating schedule objects"
          },
          "therm_mode": {
            "type": "string",
            "example": "schedule",
            "description": "mode of the home (schedule, away, frost_guard)",
            "enum": [
              "schedule",
              "away",
              "hg"
            ]
          }
        }
      },
      "NRV": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "module id"
          },
          "type": {
            "type": "string",
            "example": "NRV",
            "description": "module type"
          },
          "name": {
            "type": "string",
            "example": "thermostat relay",
            "description": "name of the module"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "room_id": {
            "type": "number",
            "example": 2016185224,
            "description": "room where the module is placed"
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the relay"
          }
        }
      },
      "NATherm1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NATherm1",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "thermostat relay",
            "description": "name of the module"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "room_id": {
            "type": "number",
            "example": 2016185224,
            "description": "room where the module is placed"
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the relay"
          }
        }
      },
      "NAPlug": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAPlug",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "thermostat relay",
            "description": "date the module was setup"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "module_bridged": {
            "type": "array",
            "description": "name of the module",
            "items": {
              "type": "string",
              "example": "02:00:00:00:0e:e0, 03:00:00:00:0e:e0"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "langage": {
            "type": "string",
            "example": "fr-FR"
          },
          "locale": {
            "type": "string",
            "example": "fr-FR"
          },
          "feel_like_algorithm": {
            "maximum": 1,
            "minimum": 0,
            "type": "integer"
          },
          "unit_pressure": {
            "maximum": 2,
            "minimum": 0,
            "type": "integer"
          },
          "unit_system": {
            "maximum": 1,
            "minimum": 0,
            "type": "integer"
          },
          "unit_wind": {
            "maximum": 4,
            "minimum": 0,
            "type": "integer"
          },
          "id": {
            "maxLength": 24,
            "type": "string",
            "example": "5c81004fd6e33f0b008b4df2"
          }
        }
      },
      "RoomD": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 3466299980,
            "description": "id of the room"
          },
          "name": {
            "type": "string",
            "example": "myRoom",
            "description": "name of the room"
          },
          "type": {
            "type": "string",
            "example": "Kitchen",
            "description": "type of the room"
          },
          "module_ids": {
            "type": "array",
            "description": "array of the modules associated to this room",
            "items": {
              "type": "string",
              "example": "09:00:00:00:0e:e0"
            }
          }
        }
      },
      "HomeHeatingSchedule": {
        "type": "object",
        "properties": {
          "timetable": {
            "type": "array",
            "description": "Timetable array of the schedule",
            "items": {
              "$ref": "#/components/schemas/Timetable"
            }
          },
          "zones": {
            "type": "array",
            "description": "Array of zones",
            "items": {
              "$ref": "#/components/schemas/HeatingZone"
            }
          },
          "name": {
            "type": "string",
            "example": "mySchedule",
            "description": "Name of the schedule"
          },
          "default": {
            "type": "boolean",
            "example": false,
            "description": "Default schedule boolean"
          },
          "away_temp": {
            "type": "integer",
            "example": 12,
            "description": "Away temperature"
          },
          "hg_temp": {
            "type": "integer",
            "example": 7,
            "description": "Frost guard temperature"
          },
          "type": {
            "type": "string",
            "example": "therm",
            "description": "Type of the schedule"
          }
        }
      },
      "HeatingSchedule": {
        "type": "object",
        "properties": {
          "timetable": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Timetable"
            }
          },
          "zones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeatingZone"
            }
          }
        }
      },
      "Timetable": {
        "type": "object",
        "properties": {
          "zone_id": {
            "type": "integer",
            "example": 1,
            "description": "id of the zone"
          },
          "m_offset": {
            "type": "integer",
            "example": 360,
            "description": "offset in minutes since Monday 00:00:01"
          }
        }
      },
      "HeatingZone": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Confort",
            "description": "name of the zone"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "description": "id of the zone"
          },
          "type": {
            "type": "integer",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": 1,
            "description": "type of the zone (0 = day, 1 = night, 2 = away, 3 = frost guard, 4 = custom, 5 = eco, 8 = comfort)"
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeatingRoom"
            }
          }
        }
      },
      "HeatingRoom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": 201618522,
            "description": "id of the room"
          },
          "therm_setpoint_temperature": {
            "type": "number",
            "example": 15,
            "description": "Heating setpoint temperature"
          }
        }
      },
      "ServerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "time_exec": {
            "type": "string",
            "example": "0.060059070587158"
          },
          "time_server": {
            "type": "string",
            "example": "1553777827"
          }
        }
      },
      "SyncError": {
        "type": "object",
        "description": "Error from physical devices such as the device can't parse the parameter",
        "required": [
          "id",
          "code"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "device/module id that causes the error",
            "example": "00:04:74:00:01:00"
          },
          "code": {
            "type": "integer",
            "description": "error code\n* 1 - Unknown error\n* 2 - Internal error\n* 3 - Parser error\n* 4 - Command unknown node module error\n* 5 - Command invalid params\n* 6 - Unreachable\n",
            "example": 6
          }
        }
      },
      "InvalidServerResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "number",
                "example": 21
              },
              "message": {
                "type": "string",
                "example": "invalid [parameter]"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.netatmo.com/oauth2/authorize",
            "tokenUrl": "https://api.netatmo.com/oauth2/token",
            "scopes": {
              "read_station": "read station data",
              "read_thermostat": "read energy data",
              "write_thermostat": "control energy products"
            }
          }
        }
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}