{
  "openapi": "3.0.1",
  "info": {
    "title": "Netatmo - Weather",
    "description": "This is a sample test for describing NETATMO's APIs with the OAS3 standard definition using swagger.",
    "termsOfService": "https://dev.netatmo.com/resources/legal",
    "contact": {
      "name": "Contact API Netatmo",
      "url": "https://dev.netatmo.com/resources/legal",
      "email": "contact-api@netatmo.com"
    },
    "license": {
      "name": "Netatmo Legal",
      "url": "https://dev.netatmo.com/resources/legal"
    },
    "version": "1.1.2"
  },
  "externalDocs": {
    "description": "Find out more about Netatmo API",
    "url": "https://dev.netatmo.com/resources/technical/introduction"
  },
  "servers": [
    {
      "url": "https://api.netatmo.com/api",
      "description": "Netatmo's API endpoint"
    }
  ],
  "paths": {
    "/getpublicdata": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Retrieves publicly shared weather data from Outdoor Modules within a predefined area.",
        "description": "scope/none_required",
        "operationId": "getpublicdata",
        "parameters": [
          {
            "name": "lat_ne",
            "in": "query",
            "description": "latitude of the north east corner of the requested area. -85 <= lat_ne <= 85 and lat_ne>lat_sw",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "lon_ne",
            "in": "query",
            "description": "Longitude of the north east corner of the requested area. -180 <= lon_ne <= 180 and lon_ne>lon_sw",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "lat_sw",
            "in": "query",
            "description": "latitude of the south west corner of the requested area. -85 <= lat_sw <= 85",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "lon_sw",
            "in": "query",
            "description": "Longitude of the south west corner of the requested area. -180 <= lon_sw <= 180",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "required_data",
            "in": "query",
            "description": "To filter stations based on relevant measurements you want (e.g. rain will only return stations with rain gauges). Available data are {temperature, pressure, humidity, rain, wind}. Default is no filter.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "rain",
                "enum": [
                  "temperature",
                  "pressure",
                  "humidity",
                  "rain",
                  "wind"
                ]
              }
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "True to exclude station with abnormal temperature measures. Default is false.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicData"
                    },
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth": [
              "read_station"
            ]
          }
        ]
      }
    },
    "/getstationsdata": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Returns data from a user Weather Stations (measures and device specific data).",
        "description": "scope/read_station",
        "operationId": "getstationdata",
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "description": "Weather station mac address",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "description": "deprecated",
              "example": "70:ee:50:00:00:xx"
            }
          },
          {
            "name": "get_favorites",
            "in": "query",
            "description": "To retrieve user's favorite weather stations. Default is false.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StationData"
                    },
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth": [
              "read_station"
            ]
          }
        ]
      }
    },
    "/getmeasure": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Retrieve data from a device or module",
        "description": "scope/read_station",
        "operationId": "getmeasure",
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "description": "Weather station mac address",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "70:ee:50:00:00:xx"
            }
          },
          {
            "name": "module_id",
            "in": "query",
            "description": "Module mac address",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "70:ee:50:00:00:xx"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "Timeframe between two measurements {30min, 1hour, 3hours, 1day, 1week, 1month}",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "30min",
              "enum": [
                "30min",
                "1hour",
                "3hours",
                "1day",
                "1week",
                "1month"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of data to be returned.<br><ul><li>Temperature data (°C) = {temperature, min_temp, max_temp, date_min_temp, date_max_temp}</li><li>Humidity data (%) = {humidity, min_hum, max_hum, date_min_hum, date_max_hum}</li><li>CO2 data (ppm) = {co2, min_co2, max_co2, date_min_co2, date_max_co2}</li><li>Pressure data (bar) = {pressure, min_pressure, max_pressure, date_min_pressure, date_max_pressure}</li><li>Noise data (db) = {noise, min_noise, max_noise, date_min_noise, date_max_noise}</li><li>Rain data (mm) = {rain, min_rain, max_rain, sum_rain, date_min_rain, date_max_rain}</li><li>Wind data (km/h, °) = {windstrength, windangle, guststrength, gustangle, date_min_gust, date_max_gust}</li></ul><br> Date data are only available for scales from 1 day to 1 month and unit is Local Unix Time in seconds.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "temperature",
                  "humidity",
                  "co2",
                  "pressure",
                  "noise",
                  "rain",
                  "windstrength",
                  "windangle",
                  "guststrength",
                  "gustangle",
                  "min_temp",
                  "max_temp",
                  "min_hum",
                  "max_hum",
                  "min_co2",
                  "max_co2",
                  "min_pressure",
                  "max_pressure",
                  "min_noise",
                  "max_noise",
                  "min_rain",
                  "max_rain",
                  "sum_rain",
                  "date_min_temp",
                  "date_max_temp",
                  "date_min_hum",
                  "date_max_hum",
                  "date_min_co2",
                  "date_max_co2",
                  "date_min_pressure",
                  "date_max_pressure",
                  "date_min_noise",
                  "date_max_noise",
                  "date_min_rain",
                  "date_max_rain",
                  "date_min_gust",
                  "date_max_gust"
                ]
              }
            }
          },
          {
            "name": "date_begin",
            "in": "query",
            "description": "Timestamp of the first measure to retrieve (Local Unix Time in seconds).<br> By default, it will retrieve the oldest data available.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1459265427
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Timestamp of the last measure to retrieve (Local Unix Time in seconds)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 2459265427
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of measurements (default and max are 1024)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "example": 1024
            }
          },
          {
            "name": "optimize",
            "in": "query",
            "description": "Optimized format of the answer. Default is true.<br> For mobile apps we recommend True to save bandwidth. If bandwidth isn't an issue, we recommend False as it is easier to parse.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "real_time",
            "in": "query",
            "description": "If scale different than max, timestamps are by default offset + scale/2. To get exact timestamps, use true. Default is false.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/body_Measure_Get"
                    },
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidServerResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth": [
              "read_station"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "body_Measure_Get": {
        "type": "object",
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/Measure_Get"
            }
          }
        }
      },
      "Measure_Get": {
        "type": "object",
        "properties": {
          "beg_time": {
            "type": "number",
            "example": 1513295900
          },
          "step_time": {
            "type": "number",
            "example": 1800
          },
          "value": {
            "type": "array",
            "items": {
              "type": "number",
              "example": 50
            }
          }
        }
      },
      "Home": {
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 24,
            "type": "string",
            "example": "5954e7f249c75f97428b7b23",
            "description": "id of the home"
          },
          "name": {
            "type": "string",
            "example": "Your House",
            "description": "name of the home"
          },
          "altitude": {
            "type": "integer",
            "example": 89
          },
          "coordinates": {
            "maxItems": 2,
            "type": "array",
            "items": {
              "type": "string",
              "example": "-0.12726409999999996, 51.51608619999999"
            }
          },
          "country": {
            "type": "string",
            "example": "FR"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/paris",
            "description": "home timezone"
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomD"
            }
          },
          "modules": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/NAMain"
                },
                {
                  "$ref": "#/components/schemas/NAModule1"
                },
                {
                  "$ref": "#/components/schemas/NAModule2"
                },
                {
                  "$ref": "#/components/schemas/NAModule3"
                },
                {
                  "$ref": "#/components/schemas/NAModule4"
                }
              ]
            }
          },
          "therm_set_point_default_duration": {
            "type": "integer",
            "example": 180,
            "description": "default duration for a setpoint"
          },
          "therm_boost_default_duration": {
            "type": "integer",
            "example": 180,
            "description": "default duration for a boost"
          },
          "schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Schedules"
            },
            "description": "array of heating schedule objects"
          },
          "therm_mode": {
            "type": "string",
            "example": "schedule",
            "description": "mode of the home (schedule, away, frost_guard)",
            "enum": [
              "schedule",
              "away",
              "hg"
            ]
          }
        }
      },
      "NAMain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAMain",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Weather station",
            "description": "date the module was setup"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "module_bridged": {
            "type": "array",
            "description": "name of the module",
            "items": {
              "type": "string",
              "example": "02:00:00:00:0e:e0, 03:00:00:00:0e:e0"
            }
          }
        }
      },
      "NAMain_friend_or_favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAMain",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Weather station",
            "description": "date the module was setup"
          },
          "mode": {
            "type": "string",
            "example": "favorite",
            "description": "invitation mode of the module",
            "enum": [
              "favorite",
              "friend"
            ]
          },
          "module_bridged": {
            "type": "array",
            "description": "name of the module",
            "items": {
              "type": "string",
              "example": "02:00:00:00:0e:e0, 03:00:00:00:0e:e0"
            }
          }
        }
      },
      "NAModule1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule1",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart Outdoor module",
            "description": "name of the module"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "room_id": {
            "type": "number",
            "example": 2016185224,
            "description": "room where the module is placed"
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule1_friend_or_favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule1",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart outdoor module",
            "description": "date the module was setup"
          },
          "mode": {
            "type": "string",
            "example": "favorite",
            "description": "invitation mode of the module",
            "enum": [
              "favorite",
              "friend"
            ]
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule2": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule2",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart Anemometer module",
            "description": "name of the module"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "room_id": {
            "type": "number",
            "example": 2016185224,
            "description": "room where the module is placed"
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule2_friend_or_favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule2",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart Anemometer module",
            "description": "date the module was setup"
          },
          "mode": {
            "type": "string",
            "example": "favorite",
            "description": "invitation mode of the module",
            "enum": [
              "favorite",
              "friend"
            ]
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule3": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule3",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart Rain Gauge Module",
            "description": "name of the module"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "room_id": {
            "type": "number",
            "example": 2016185224,
            "description": "room where the module is placed"
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule3_friend_or_favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule3",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart Rain Gauge module",
            "description": "date the module was setup"
          },
          "mode": {
            "type": "string",
            "example": "favorite",
            "description": "invitation mode of the module",
            "enum": [
              "favorite",
              "friend"
            ]
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule4": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule4",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart indoor module",
            "description": "name of the module"
          },
          "setup_date": {
            "type": "number",
            "example": 1498736626,
            "description": "date the module was setup"
          },
          "room_id": {
            "type": "number",
            "example": 2016185224,
            "description": "room where the module is placed"
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "NAModule4_friend_or_favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule4",
            "description": "type of the module"
          },
          "name": {
            "type": "string",
            "example": "Smart Indoor module",
            "description": "date the module was setup"
          },
          "mode": {
            "type": "string",
            "example": "favorite",
            "description": "invitation mode of the module",
            "enum": [
              "favorite",
              "friend"
            ]
          },
          "bridge": {
            "type": "string",
            "example": "01:00:00:00:0e:e0",
            "description": "mac adress of the gateway"
          }
        }
      },
      "HomeStatus": {
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 24,
            "type": "string",
            "example": "5954e7f249c75f97428b7b23"
          },
          "modules": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/NAMain_S"
                },
                {
                  "$ref": "#/components/schemas/NAModule1_S"
                },
                {
                  "$ref": "#/components/schemas/NAModule2_S"
                },
                {
                  "$ref": "#/components/schemas/NAModule3_S"
                },
                {
                  "$ref": "#/components/schemas/NAModule4_S"
                }
              ]
            }
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomS"
            }
          }
        }
      },
      "RoomS": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 3466299980,
            "description": "id of the room"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "false if none of the module of the room are reachable"
          },
          "heating_power_request": {
            "type": "integer",
            "example": 50,
            "description": "Represents the percentage of heating the valve of a room are asking for"
          },
          "therm_measured_temperature": {
            "type": "number",
            "example": 23,
            "description": "measured temperature"
          },
          "therm_setpoint_temperature": {
            "type": "number",
            "example": 20,
            "description": "setpoint temperature"
          },
          "therm_setpoint_mode": {
            "type": "string",
            "example": "schedule, manual",
            "description": "mode (can be manual, max, off, schedule, away or hg)"
          },
          "therm_setpoint_start_time": {
            "type": "number",
            "example": "0, 1550000000",
            "description": "start time for a manual setpoint"
          },
          "therm_setpoint_end_time": {
            "type": "number",
            "example": "0, 1550003600",
            "description": "end time for a manual setpoint"
          },
          "anticipating": {
            "type": "boolean",
            "example": true
          },
          "open_windows": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "NAMain_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAMain",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "wifi_strenght": {
            "type": "number",
            "example": 67,
            "description": "56 good, 86 poor"
          },
          "wifi_state": {
            "type": "string",
            "example": "full",
            "description": "wifi quality",
            "enum": [
              "low",
              "medium",
              "high",
              "full"
            ]
          }
        }
      },
      "NAModule1_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule1",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "battery_level": {
            "type": "number",
            "example": 5626,
            "description": "battery level"
          },
          "battery_state": {
            "type": "string",
            "example": "full",
            "description": "battery state",
            "enum": [
              "unknown",
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "rf_strength": {
            "type": "number",
            "example": 30,
            "description": "radio level"
          },
          "rf_state": {
            "type": "string",
            "example": "full",
            "description": "radio state",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "last_seen": {
            "type": "string",
            "example": "156xxxxxxxxx7"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "false if the module is not reachable"
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0",
            "description": "gateway of the module"
          }
        }
      },
      "NAModule2_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule2",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "battery_level": {
            "type": "number",
            "example": 5626,
            "description": "battery level"
          },
          "battery_state": {
            "type": "string",
            "example": "full",
            "description": "battery state",
            "enum": [
              "unknown",
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "rf_strength": {
            "type": "number",
            "example": 30,
            "description": "radio level"
          },
          "rf_state": {
            "type": "string",
            "example": "full",
            "description": "radio state",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "last_seen": {
            "type": "string",
            "example": "156xxxxxxxxx7"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "false if the module is not reachable"
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0",
            "description": "gateway of the module"
          }
        }
      },
      "NAModule3_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule3",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "battery_level": {
            "type": "number",
            "example": 5626,
            "description": "battery level"
          },
          "battery_state": {
            "type": "string",
            "example": "full",
            "description": "battery state",
            "enum": [
              "unknown",
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "rf_strength": {
            "type": "number",
            "example": 30,
            "description": "radio level"
          },
          "rf_state": {
            "type": "string",
            "example": "full",
            "description": "radio state",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "last_seen": {
            "type": "string",
            "example": "156xxxxxxxxx7"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "false if the module is not reachable"
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0",
            "description": "gateway of the module"
          }
        }
      },
      "NAModule4_S": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "70:ee:xx:xx:xx:xx",
            "description": "id of the module"
          },
          "type": {
            "type": "string",
            "example": "NAModule4",
            "description": "type of the module"
          },
          "firmware_revision": {
            "type": "number",
            "example": 45,
            "description": "firmware version"
          },
          "battery_level": {
            "type": "number",
            "example": 5626,
            "description": "battery level"
          },
          "battery_state": {
            "type": "string",
            "example": "full",
            "description": "battery state",
            "enum": [
              "unknown",
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "rf_strength": {
            "type": "number",
            "example": 30,
            "description": "radio level"
          },
          "rf_state": {
            "type": "string",
            "example": "full",
            "description": "radio state",
            "enum": [
              "very_low",
              "low",
              "medium",
              "high",
              "full"
            ]
          },
          "last_seen": {
            "type": "string",
            "example": "156xxxxxxxxx7"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "false if the module is not reachable"
          },
          "bridge": {
            "type": "number",
            "example": "01:00:00:00:0e:e0",
            "description": "gateway of the module"
          }
        }
      },
      "Measure": {
        "type": "object",
        "properties": {
          "mac_address_NAModule1": {
            "type": "object",
            "properties": {
              "res": {
                "type": "object",
                "properties": {
                  "time_stamp": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "example": "20, 60"
                    }
                  }
                }
              },
              "type": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "temperature"
                }
              }
            }
          },
          "mac_address_NAMain": {
            "type": "object",
            "properties": {
              "res": {
                "type": "object",
                "properties": {
                  "time_stamp": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "example": 1011.3
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "example": "pressure"
              }
            }
          },
          "mac_address_NAModule3": {
            "type": "object",
            "properties": {
              "rain_60min": {
                "type": "number",
                "example": 0
              },
              "rain_24h": {
                "type": "number",
                "example": 0
              },
              "rain_live": {
                "type": "number",
                "example": 0
              },
              "rain_timeutc": {
                "type": "number",
                "example": 1555675431
              }
            }
          },
          "mac_address_NAModule2": {
            "type": "object",
            "properties": {
              "wind_strengh": {
                "type": "number",
                "example": 10
              },
              "wind_angle": {
                "type": "number",
                "example": 259
              },
              "gust_strenght": {
                "type": "number",
                "example": 17
              },
              "gust_angle": {
                "type": "number",
                "example": 270
              },
              "wind_timeutc": {
                "type": "number",
                "example": 1555675431
              }
            }
          }
        }
      },
      "StationData": {
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "properties": {
              "devices": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "example": "70:ee:50:22:a3:00",
                      "description": "mac address of the device"
                    },
                    "date_setup": {
                      "type": "number",
                      "example": 1435834348,
                      "description": "date when the weather station was set up"
                    },
                    "last_setup": {
                      "type": "number",
                      "example": 1435834348,
                      "description": "timestamp of the last installation"
                    },
                    "type": {
                      "type": "string",
                      "example": "NAMain",
                      "description": "type of the device"
                    },
                    "last_status_store": {
                      "type": "number",
                      "example": 1555677748,
                      "description": "timestamp of the last status update"
                    },
                    "module_name": {
                      "type": "string",
                      "example": "Indoor",
                      "description": "name of the module"
                    },
                    "firmware": {
                      "type": "number",
                      "example": 137,
                      "description": "version of the software"
                    },
                    "last_upgrade": {
                      "type": "number",
                      "example": 1512405614,
                      "description": "timestamp of the last upgrade"
                    },
                    "wifi_status": {
                      "type": "number",
                      "example": 55,
                      "description": "wifi status per Base station. (86=bad, 56=good)"
                    },
                    "reachable": {
                      "type": "boolean",
                      "example": true,
                      "description": "true if the station connected to Netatmo cloud within the last 4 hours"
                    },
                    "co2_calibrating": {
                      "type": "boolean",
                      "example": false,
                      "description": "true if the station is calibrating"
                    },
                    "station_name": {
                      "type": "string",
                      "example": "Casa",
                      "description": "name of the station - DO NOT USE ANYMORE - use home_name and module_name instead"
                    },
                    "data_type": {
                      "type": "array",
                      "description": "array of data measured by the device (e.g. \"Temperature\",\"Humidity\")",
                      "items": {
                        "type": "string"
                      }
                    },
                    "place": {
                      "$ref": "#/components/schemas/Place"
                    },
                    "read_only": {
                      "type": "boolean",
                      "example": true,
                      "description": "true if the user owns the station, false if he is invited to a station"
                    },
                    "home_id": {
                      "type": "string",
                      "example": "594xxxxxxxxxdb",
                      "description": "id of the home where the station is placed"
                    },
                    "home_name": {
                      "type": "string",
                      "example": "Home",
                      "description": "name of the home where the station is placed"
                    },
                    "dashboard_data": {
                      "$ref": "#/components/schemas/Dashboard_data_weatherstation"
                    },
                    "modules": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/Indoor_Module"
                          },
                          {
                            "$ref": "#/components/schemas/Outdoor_Module"
                          },
                          {
                            "$ref": "#/components/schemas/Rain_Module"
                          },
                          {
                            "$ref": "#/components/schemas/Wind_Module"
                          }
                        ]
                      }
                    }
                  }
                }
              },
              "user": {
                "$ref": "#/components/schemas/User_Weather"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "langage": {
            "type": "string",
            "example": "fr-FR"
          },
          "locale": {
            "type": "string",
            "example": "fr-FR"
          },
          "feel_like_algorithm": {
            "maximum": 1,
            "minimum": 0,
            "type": "integer"
          },
          "unit_pressure": {
            "maximum": 2,
            "minimum": 0,
            "type": "integer"
          },
          "unit_system": {
            "maximum": 1,
            "minimum": 0,
            "type": "integer"
          },
          "unit_wind": {
            "maximum": 4,
            "minimum": 0,
            "type": "integer"
          },
          "id": {
            "maxLength": 24,
            "type": "string",
            "example": "5c81004fd6e33f0b008b4df2"
          }
        }
      },
      "Dashboard_data_weatherstation": {
        "description": "Weather - Weather station, getstationdata",
        "type": "object",
        "properties": {
          "time_utc": {
            "type": "number",
            "example": 1555677739,
            "description": "timestamp when data was measured"
          },
          "Temperature": {
            "type": "number",
            "example": 23.7,
            "description": "temperature (in °C)"
          },
          "CO2": {
            "type": "number",
            "example": 967,
            "description": "CO2 level (in ppm)"
          },
          "Humidity": {
            "type": "number",
            "example": 41,
            "description": "humidity (in %)"
          },
          "Noise": {
            "type": "number",
            "example": 42,
            "description": "noise level (in dB)"
          },
          "Pressure": {
            "type": "number",
            "example": 997.6,
            "description": "surface pressure in mbar"
          },
          "AbsolutePressure": {
            "type": "number",
            "example": 1017.4,
            "description": "sea-level pressure in mbar"
          },
          "min_temp": {
            "type": "number",
            "example": 21.2
          },
          "max_temp": {
            "type": "number",
            "example": 27.4,
            "description": "maximum temperature measured"
          },
          "date_min_temp": {
            "type": "number",
            "example": 1555631374
          },
          "date_max_temp": {
            "type": "number",
            "example": 1555662436
          },
          "temp_trend": {
            "type": "string",
            "example": "up",
            "description": "trend for the last 12h (up, down, stable)"
          },
          "pressure_trend": {
            "type": "string",
            "example": "up",
            "description": "trend for the last 12h (up, down, stable)"
          }
        }
      },
      "Outdoor_Module": {
        "description": "Weather - Weather module outdoor - getstationsdata",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "06:00:00:02:47:00"
          },
          "type": {
            "type": "string",
            "example": "NAModule1"
          },
          "module_name": {
            "type": "string",
            "example": "Outdoor Module"
          },
          "data_type": {
            "type": "array",
            "description": "Array of data measured by the device (e.g. \"Temperature\",\"Humidity\")",
            "items": {
              "type": "string",
              "example": "Temperature, Humidity"
            }
          },
          "last_setup": {
            "type": "number",
            "example": 1435834348,
            "description": "timestamp of the last installation"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "true if the station connected to Netatmo cloud within the last 4 hours"
          },
          "dashboard_data": {
            "type": "object",
            "properties": {
              "time_utc": {
                "type": "number",
                "example": 1555677739,
                "description": "timestamp when data was measured"
              },
              "Temperature": {
                "type": "number",
                "example": 23.7,
                "description": "temperature (in °C)"
              },
              "Humidity": {
                "type": "number",
                "example": 41,
                "description": "humidity (in %)"
              },
              "min_temp": {
                "type": "number",
                "example": 21.2
              },
              "max_temp": {
                "type": "number",
                "example": 27.4,
                "description": "maximum temperature measured"
              },
              "date_min_temp": {
                "type": "number",
                "example": 1555631374
              },
              "date_max_temp": {
                "type": "number",
                "example": 1555662436
              },
              "temp_trend": {
                "type": "string",
                "example": "up",
                "description": "trend for the last 12h (up, down, stable)"
              }
            }
          },
          "firmware": {
            "type": "number",
            "example": 19,
            "description": "version of the software"
          },
          "last_message": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last measure update"
          },
          "last_seen": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last status update"
          },
          "rf_status": {
            "type": "number",
            "example": 31,
            "description": "Current radio status per module. (90=low, 60=highest)"
          },
          "battery_vp": {
            "type": "number",
            "example": 5148,
            "description": "current battery status per module"
          },
          "battery_percent": {
            "type": "number",
            "example": 58,
            "description": "Percentage of battery remaining (10=low)"
          }
        }
      },
      "Indoor_Module": {
        "description": "Weather - Weather module indoor - getstationsdata",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "06:00:00:02:47:00"
          },
          "type": {
            "type": "string",
            "example": "NAModule4"
          },
          "module_name": {
            "type": "string",
            "example": "Indoor Module"
          },
          "data_type": {
            "type": "array",
            "description": "Array of data measured by the device (e.g. \"Temperature\",\"Humidity\")",
            "items": {
              "type": "string",
              "example": "Temperature, Humidity, CO2"
            }
          },
          "last_setup": {
            "type": "number",
            "example": 1435834348,
            "description": "timestamp of the last installation"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "true if the station connected to Netatmo cloud within the last 4 hours"
          },
          "dashboard_data": {
            "type": "object",
            "properties": {
              "time_utc": {
                "type": "number",
                "example": 1555677739,
                "description": "timestamp when data was measured"
              },
              "Temperature": {
                "type": "number",
                "example": 23.7,
                "description": "temperature (in °C)"
              },
              "CO2": {
                "type": "number",
                "example": 967
              },
              "Humidity": {
                "type": "number",
                "example": 41,
                "description": "humidity (in %)"
              },
              "Pressure": {
                "type": "number",
                "example": 997.6,
                "description": "surface pressure in mbar"
              },
              "AbsolutePressure": {
                "type": "number",
                "example": 1017.4,
                "description": "sea-level pressure in mbar"
              },
              "min_temp": {
                "type": "number",
                "example": 21.2
              },
              "max_temp": {
                "type": "number",
                "example": 27.4,
                "description": "maximum temperature measured"
              },
              "date_min_temp": {
                "type": "number",
                "example": 1555631374
              },
              "date_max_temp": {
                "type": "number",
                "example": 1555662436
              },
              "temp_trend": {
                "type": "string",
                "example": "up",
                "description": "trend for the last 12h (up, down, stable)"
              }
            }
          },
          "firmware": {
            "type": "number",
            "example": 19,
            "description": "version of the software"
          },
          "last_message": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last measure update"
          },
          "last_seen": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last status update"
          },
          "rf_status": {
            "type": "number",
            "example": 31,
            "description": "Current radio status per module. (90=low, 60=highest)"
          },
          "battery_vp": {
            "type": "number",
            "example": 5148,
            "description": "current battery status per module"
          },
          "battery_percent": {
            "type": "number",
            "example": 58,
            "description": "Percentage of battery remaining (10=low)"
          }
        }
      },
      "Rain_Module": {
        "description": "Weather - IN Module, for rain gauge module, getstationdata",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "06:00:00:02:47:00"
          },
          "type": {
            "type": "string",
            "example": "NAModule3"
          },
          "module_name": {
            "type": "string",
            "example": "Rain gauge"
          },
          "data_type": {
            "type": "array",
            "description": "Array of data measured by the device (e.g. \"Temperature\",\"Humidity\")",
            "items": {
              "type": "string",
              "example": "Rain"
            }
          },
          "last_setup": {
            "type": "number",
            "example": 1435834348,
            "description": "timestamp of the last installation"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "true if the station connected to Netatmo cloud within the last 4 hours"
          },
          "dashboard_data": {
            "type": "object",
            "properties": {
              "time_utc": {
                "type": "number",
                "example": 1555677734,
                "description": "timestamp when data was measured"
              },
              "Rain": {
                "type": "number",
                "example": 0,
                "description": "rain in mm"
              },
              "sum_rain_24": {
                "type": "number",
                "example": 0,
                "description": "rain measured for past 24h(mm)"
              },
              "sum_rain_1": {
                "type": "number",
                "example": 0,
                "description": "rain measured for the last hour (mm)"
              }
            }
          },
          "firmware": {
            "type": "number",
            "example": 19,
            "description": "version of the software"
          },
          "last_message": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last measure update"
          },
          "last_seen": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last status update"
          },
          "rf_status": {
            "type": "number",
            "example": 31,
            "description": "Current radio status per module. (90=low, 60=highest)"
          },
          "battery_vp": {
            "type": "number",
            "example": 5148,
            "description": "current battery status per module"
          },
          "battery_percent": {
            "type": "number",
            "example": 58,
            "description": "Percentage of battery remaining (10=low)"
          }
        }
      },
      "Wind_Module": {
        "description": "Weather - IN Module, for wind gauge module, getstationdata",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "06:00:00:02:47:00"
          },
          "type": {
            "type": "string",
            "example": "NAModule2"
          },
          "module_name": {
            "type": "string",
            "example": "Wind Module"
          },
          "data_type": {
            "type": "array",
            "description": "Array of data measured by the device (e.g. \"Temperature\",\"Humidity\")",
            "items": {
              "type": "string",
              "example": "Wind"
            }
          },
          "last_setup": {
            "type": "number",
            "example": 1435834348,
            "description": "timestamp of the last installation"
          },
          "battery_percent": {
            "type": "number",
            "example": 58,
            "description": "Percentage of battery remaining (10=low)"
          },
          "reachable": {
            "type": "boolean",
            "example": true,
            "description": "true if the station connected to Netatmo cloud within the last 4 hours"
          },
          "firmware": {
            "type": "number",
            "example": 19,
            "description": "version of the software"
          },
          "last_message": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last measure update"
          },
          "last_seen": {
            "type": "number",
            "example": 1555677746,
            "description": "timestamp of the last status update"
          },
          "rf_status": {
            "type": "number",
            "example": 31,
            "description": "Current radio status per module. (90=low, 60=highest)"
          },
          "battery_vp": {
            "type": "number",
            "example": 5148,
            "description": "current battery status per module"
          },
          "dashboard_data": {
            "type": "object",
            "properties": {
              "time_utc": {
                "type": "number",
                "example": 1555677734,
                "description": "timestamp when data was measured"
              },
              "WindStrength": {
                "type": "number",
                "example": 2,
                "description": "wind strenght (km/h)"
              },
              "WindAngle": {
                "type": "number",
                "example": 75
              },
              "GustStrength": {
                "type": "number",
                "example": 3,
                "description": "gust strengh (km/h)"
              },
              "GustAngle": {
                "type": "number",
                "example": 75,
                "description": "gust angle"
              },
              "max_wind_str": {
                "type": "number",
                "example": 4
              },
              "max_wind_angle": {
                "type": "number",
                "example": 100
              },
              "date_max_wind_str": {
                "type": "number",
                "example": 1555673190
              }
            }
          }
        }
      },
      "PublicData": {
        "type": "object",
        "properties": {
          "body": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "example": "70:ee:50:22:a3:00"
                },
                "place": {
                  "$ref": "#/components/schemas/Place"
                },
                "mark": {
                  "type": "number",
                  "example": 10
                },
                "measures": {
                  "$ref": "#/components/schemas/Measure"
                },
                "modules": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "00:00:00:22:ba:aa"
                  }
                },
                "module_types": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "mac_adress": {
                        "type": "string",
                        "example": "NAModule1"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string",
            "example": "Africa/Lagos",
            "description": "Timezone"
          },
          "country": {
            "type": "string",
            "example": "EG",
            "description": "Country"
          },
          "altitude": {
            "type": "number",
            "example": 144,
            "description": "Altitude"
          },
          "location": {
            "type": "array",
            "items": {
              "example": "30.89600807058707, 29.94281464724796",
              "description": "Latitude and longitude"
            }
          }
        }
      },
      "User_Weather": {
        "type": "object",
        "properties": {
          "mail": {
            "type": "string",
            "format": "email",
            "example": "name@mail.com"
          },
          "administrative": {
            "type": "object",
            "properties": {
              "reg_locale": {
                "type": "string",
                "example": "fr-FR",
                "description": "user regional preferences (used for displaying date)"
              },
              "lang": {
                "type": "string",
                "example": "fr-FR",
                "description": "user locale"
              },
              "country": {
                "type": "string",
                "example": "FR",
                "description": "country"
              },
              "unit": {
                "type": "number",
                "example": 0,
                "description": "0 -> metric system, 1 -> imperial system"
              },
              "windunit": {
                "type": "number",
                "example": 0,
                "description": "0 -> kph, 1 -> mph, 2 -> ms, 3 -> beaufort, 4 -> knot"
              },
              "pressureunit": {
                "type": "number",
                "example": 0,
                "description": "0 -> mbar, 1 -> inHg, 2 -> mmHg"
              },
              "feel_like_algo": {
                "type": "number",
                "example": 0,
                "description": "algorithm used to compute feel like temperature, 0 -> humidex, 1 -> heat-index"
              }
            }
          }
        }
      },
      "RoomD": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 3466299980,
            "description": "id of the room"
          },
          "name": {
            "type": "string",
            "example": "myRoom",
            "description": "name of the room"
          },
          "type": {
            "type": "string",
            "example": "Kitchen",
            "description": "type of the room"
          },
          "module_ids": {
            "type": "array",
            "description": "array of the modules associated to this room",
            "items": {
              "type": "string",
              "example": "09:00:00:00:0e:e0"
            }
          }
        }
      },
      "Schedules": {
        "type": "object",
        "properties": {
          "timetable": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Timetable"
            }
          },
          "zones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZonesSchedules"
            }
          },
          "name": {
            "type": "string",
            "example": "mySchedule",
            "description": "name of the schedule"
          }
        }
      },
      "Timetable": {
        "type": "object",
        "properties": {
          "zone_id": {
            "type": "integer",
            "example": 1,
            "description": "id of the zone"
          },
          "m_offset": {
            "type": "integer",
            "example": 360,
            "description": "offset in minutes since Monday 00:00:01"
          }
        }
      },
      "ZonesSchedules": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Confort",
            "description": "name of the zone"
          },
          "id": {
            "type": "number",
            "example": 1,
            "description": "id of the zone"
          },
          "type": {
            "type": "number",
            "example": 1,
            "description": "type of the zone (0 = day, 1 = night, 2 = away, 3 = frost guard, 4 = custom, 5 = eco, 8 = comfort)"
          },
          "rooms": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "string",
                  "example": 201618522,
                  "description": "id of the room"
                },
                "therm_setpoint_temperature": {
                  "type": "number",
                  "example": 15,
                  "description": "setpoint temperature"
                }
              }
            }
          }
        }
      },
      "Zones": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Confort"
          },
          "id": {
            "type": "number",
            "example": 1
          },
          "type": {
            "type": "number",
            "example": 1
          },
          "rooms": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "string",
                  "example": 201618522
                },
                "therm_setpoint_temperature": {
                  "type": "number",
                  "example": 15
                }
              }
            }
          }
        }
      },
      "ServerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "time_exec": {
            "type": "string",
            "example": "0.060059070587158"
          },
          "time_server": {
            "type": "string",
            "example": "1553777827"
          }
        }
      },
      "SyncError": {
        "type": "object",
        "description": "Error from physical devices such as the device can't parse the parameter",
        "required": [
          "id",
          "code"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "device/module id that causes the error",
            "example": "00:04:74:00:01:00"
          },
          "code": {
            "type": "integer",
            "description": "error code\n* 1 - Unknown error\n* 2 - Internal error\n* 3 - Parser error\n* 4 - Command unknown node module error\n* 5 - Command invalid params\n* 6 - Unreachable\n",
            "example": 6
          }
        }
      },
      "InvalidServerResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "number",
                "example": 0
              },
              "message": {
                "type": "string",
                "example": "explicit error"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.netatmo.com/oauth2/authorize",
            "tokenUrl": "https://api.netatmo.com/oauth2/token",
            "scopes": {
              "read_station": "retrieve station  (dataGetstationsdata, Getmeasure)"
            }
          }
        }
      }
    }
  }
}